.logo{
    color: #CF2D2D;
    float: left;
    display: inline;
    margin-left: 25px;
    margin-top: 5px;
}
.category{
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    height: 39px;
    font-size: 13px;
    width: 116px;
    float: left;
    margin-left: 200px;
    font-weight: 600;
}
.item{
    display: flex;
    width: auto;
}
.search{
    height: 40px;
    border-color: #B0BABF;
    border: 1.5px solid #B0BABF;
    width: 500px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 15px;
}
.fontSearch i{
    color: #B0BABF;
    position: absolute;
    right: 10px;
    top: 12px;
}
.fontSearch{
    align-items: center;
    position: relative;
}
li{
    list-style: none;
    flex-grow: 0;
}
.container{
    background-color: #ffffff;
}
.favbtn{
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 600;
    margin-left: 65px;
    margin-top: 10px;
}
.signbtn{
    height: 40px;
    margin-left: 20px;
    width: 80px;
    border: 1px solid #B0BABF;
    border-radius: 5px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
}
.header1{
    display: flex;
    margin-top: -40px;
    align-items: center;
    justify-content: center;
}
.location{
    margin-left: 60px;
    font-size: 14px;
    margin-top: -10px;
}
.itemList{
    display:flex;
    justify-content: center;
    justify-items: center;
    margin-right: 60px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
}
.itemList li{
    margin-right: 30px;
    font-size: 14px;
}
@media (max-width: 856px) {
    .category{
        display: none;
    }
    .search{
        display: none;
    }
    .signbtn{
        display: none;
    }
    .favbtn span{
        display: none;
    }
    .favbtn i{
        margin-left: -300px;
    }
    .location{
        margin-top: -30px;
        margin-left: 10px;
    }
    .header1{
        margin-top: 5px;
        margin-left: 5px;
        width: 430px;
    }
    .logo{
        margin-left: -25px;
    }
    .item li:not(:first-child){
        float: right;
        justify-content: end;
        margin-left: 90px;
    }
    .item{
        width: 100px;
    }
}